<div id="home">
	<div id="content">
		<div id="content-inner">
			<p>I'm a web designer & developer, self-taught through online resources like <a href="http://freecodecamp.com/">Free Code Camp</a>. I have a Bachelor of Arts in Psychology from the University of Arizona, where I also studied Japanese language for 3 years (日本語が話せます！).</p>
			<p>In addition to vanilla HTML, CSS, and JavaScript, I also have experience with the following technologies and tools:
				<ul>
					<li>Sass</li>
					<li>jQuery</li>
					<li>AngularJS</li>
					<li>React</li>
					<li>Gulp</li>
					<li>Node/npm</li>
					<li>Git/GitHub</li>
				</ul>
			</p>
		</div>
	</div><!--
	--><div id="banner">
		<div id="message">
			<span>{{ message }}</span>
		</div>
	</div>
</div>
