<div id="contact">
	<div id="content">
		<div id="content-inner">
			<p>If you're interested in working together, or even just want to talk about some of my work, I would love to hear from you.</p>
			<a class="content-link" href="mailto:john.oksasoglu@gmail.com">Email</a>
			<a class="content-link" href="https://github.com/oksas">GitHub</a>
			<a class="content-link" href="http://www.freecodecamp.com/oksas">Free Code Camp</a>
			<a class="content-link" href="http://codepen.io/oksas">CodePen</a>
			<a class="content-link" href="https://twitter.com/johnoksas">Twitter</a>
		</div>
	</div><!--
	--><div id="banner">
		<div id="message">
			<span>{{ message }}</span>
		</div>
	</div>
</div>
